body {
    background: #43a047;
}
.dd-list-wrapper {
    width: 40%
}
.dd-list-container {
    background: #ffa726;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}
.dd-list-header {
    cursor: pointer
}
.dd-edit-button {
    cursor: pointer
}
.dd-list-items {
    list-style-type: none;
}
.dd-list-content {
    background: #ffd95b;
    text-align: left;
}
.dd-edit-button {

}