body {
    background: #43a047;
}
.dd-list-container {
    background: #ffa726;
    border-radius: 4px;
    width: 50%;
}
.dd-list-header {
    cursor: pointer
}
.dd-edit-button {
    cursor: pointer
}
.dd-list-items {
    list-style-type: none;
}
.dd-list-content {
    background: #ffd95b;
}