@media all and (min-width: 480px) {
    .Login {
        position: fixed;
        width: 340px;
        height: 289px;
        top: 50%;
        left: 50%;
        margin-top: -140px;
        margin-left: -170px;
             background: #fff;
        border-radius: 3px;
        border: 1px soild #ccc;
        box-shadow: 0 1px 2px rgba(0,0,0, .1);
        line-height: 1.4;
        
    }

    .Login form {
        font-size: 16px;
        margin: 0 auto;
        margin-left: 25%;
        padding-top: 45%;
        font-family: DinPRO-Regular, Arial, sans-serif;
        line-height: 1.4;    
    }
}

body {
    background: url(https://idp.utdallas.edu/idp/images/background1.png);
	background-repeat: no-repeat;
}

.button {
    width: 191px;
	padding: 10px;
	border: none;
	display: inline-block;
	background: linear-gradient(180deg, rgba(0, 114, 78, 1) 0%, rgba(21, 71, 52, 1) 100%);
	color: #fff;
	border-radius: 5px;
}

.image {
    content:url(https://idp.utdallas.edu/idp/images/utdlogo.png );  
    margin-left: 3%;
    height: 170px;
    width: 220px; 
    position: fixed;
}

.page-title {
    background: #0073ac;
    color: white;
    margin-bottom: 2px;
    font-size: 50px;
    width: 100%;
}

.page-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  length: 30%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
  text-align: center;
  font-family: DinPRO-Regular, Arial, sans-serif;
  display: block;
  background-size: cover;
}

.event-list-wrapper {
    width: 70%;
}
.dd-list-container {
    background: #00a1de;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}
.dd-list-header {
    cursor: pointer;
    color: white;
}
.dd-edit-button {
    cursor: pointer
}
.dd-list-items {
    list-style-type: none;
}
.dd-list-content {
    background: #ffd95b;
    text-align: left;
}
.dd-form-content {
    background: whitesmoke;
}
.dd-edit-item {
    float: left;
}